.navbar-brand img {
  padding-right: 1em;
}

.nav-link {
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .large {
    visibility: hidden;
    display: none;
  }
}


@media (min-width: 768px) {
  .mobile {
    visibility: hidden;
    display: none;
  }
}
