footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: autopx;
  /* line-height: 60px; */
  background-color: #682c86;
  color: #ffffff;
  text-align: right;
}

.license a {
  color: #ffffff;
}

.license a:hover {
  color: #5ab366;
}

@media (max-width:575.98px) {
  .license {
    /* border: 1px solid #ffffff; */
    max-width: 233.8px;
    text-align: right;
    margin-left: auto;
  }
}

@media (max-width: 767.98px) {
  .footer {
    position: inherit;
  }

  .footer p {
    margin-bottom: 0;
  }
}
